.cover__link {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .3s linear;
    width: 100%;
    min-height: 740px;
     background: url(../../../images/cover-trains.jpg) 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: calc(100vw * 0.625);
    }
}

.cover__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: .3;
    transition: all .3s linear;
}

.cover__link:hover::before{
    opacity: .8;
}
