.header__logo {
    margin-right: auto;
    transition: opacity .3s linear;
    justify-self: start;
}

.header__logo:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }

}